<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <meta name="description" content="<%= locals.desc %>">
    <link rel="stylesheet" href="/css/home-style.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- body %>
    <%- include('../partials/footer.ejs') %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.18.11/tsparticles.min.js"> </script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>